RewriteEngine on
RewriteCond %{HTTP_HOST} !^allyour.basearebelongto.us
RewriteRule ^(.*)$ https://allyour.basearebelongto.us/$1 [R=302,L]

RewriteCond %{REQUEST_URI} !AYB3.swf
RewriteRule ^(.*)$ https://allyour.basearebelongto.us/AYB3.swf [R=302,L]
